---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Nav from '../../components/Nav.astro';
import Prose from '../../components/Prose.astro';
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map(project => ({
    params: { id: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<Layout title="Espen Raugstad">
	<Nav active="projects" />
  <main class="max-w-4xl mx-auto p-4 md:p-8">    
    {project.data.featuredImage && (
      <Image src={project.data.featuredImage} alt={project.data.title} width={1200} class="mb-8 rounded-2xl w-full object-cover" />
    )}
    
    <h1 class="text-4xl font-extrabold mb-4">{project.data.title}</h1>
    <p class="text-xl text-gray-600 mb-4">{project.data.description}</p>
    <div class="flex gap-2 mb-12 flex-wrap">
      {project.data.technologies.map(tech => (
        <span class="bg-blue-400 px-2 py-1 rounded-md text-black">{tech}</span>
      ))}
    </div>
    <Prose>
      <Content />
    </Prose>
  </main>
</Layout>
